<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.devflow.backend.mapper.ProjectMapper">
    <select id="countProjects" resultType="long">
        SELECT COUNT(*)
        FROM project
    </select>

    <select id="findAll"
            resultType="com.devflow.backend.model.Project">
        SELECT id, name, description
        FROM project
        ORDER BY id DESC
    </select>
</mapper>